.logo {
    width: 200px; /* Ajusta el ancho del logo según sea necesario */
    height: auto; /* Altura automática para mantener la proporción */
    margin-right: 10px; /* Espacio a la derecha del logo */
    margin-left: 20px; /* Espacio a la izquierda del logo */
}



/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: url('imagenes/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.products {
    padding: 20px;
    text-align: center;
}

.products h2 {
    margin-bottom: 20px;
    color: #000;
}

.product {
    position: relative; /* Añade posición relativa para alinear la lupa */
    display: inline-block;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    text-align: center;
    overflow: hidden; /* Oculta el desbordamiento para la lupa */
}

.product .product-img-container {
    position: relative;
    overflow: hidden;
}

.product img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease-in-out; /* Transición suave para el zoom */
}

.product:hover img {
    transform: scale(1.2); /* Aplica zoom al hacer hover sobre la imagen */
}

.product h3 {
    margin: 10px 0;
    color: #000;
}

.product .description {
    text-align: left; /* Alinea la descripción como lista desordenada */
    padding-left: 20px; /* Añade un pequeño espacio a la izquierda */
}

.product .price {
    color: #000;
    font-weight: bold;
}

#historia {
    padding: 20px;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 5px;
    color: #000;
    text-align: center;
    max-width: 800px;
}

#informacion, #contacto {
    padding: 20px;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 5px;
    color: #000;
    text-align: center;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}


/* Estilos CSS para ajustar el tamaño de la imagen del trabajador */
.owner img {
    max-width: 150px; /* Ancho máximo de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}


#historia {
    font-style: italic; /* Aplica inclinación al texto */
}
/* Estilos CSS para la sección de contacto */
#contacto {
    text-decoration: underline; /* Subraya todo el texto dentro de la sección de contacto */
}

#informacion {
    padding: 20px; /* Espacio interior para separar el contenido del borde */
    color: #000000; /* Color de texto blanco para mayor contraste */
    text-align: center; /* Alineación del texto al centro */
}





#contacto {
    background-image: url('ruta/a/tu/imagen-de-fondo.jpg');
    background-size: cover;
    background-position: center;
    padding: 30px; /* Espacio interior para separar el contenido del borde */
    color: #000000; /* Color de texto blanco para mayor contraste */
}


